#happiness{
    position: relative;
    h1{
        label{
            font-weight: lighter;
        }
    }
    .input-group-text{
        outline: none;
        border: 0;
        border-radius: 0px 8px 8px 0px;
    }
}